.Animado{
    transition: all 800ms;
    opacity: 0;
}

.mostrarArriba{
    animation: mostrarArriba 1s;
}

@keyframes mostrarArriba{
    0%{
        transform:translateY(60px);
    }
    100%{
        transform:translateY(0);
    }
}


.Animado2{
    transition: all 800ms;
    opacity: 0;
}

.MostrarLado{
    animation: MostrarLado 1s;
}

@keyframes MostrarLado{
    0%{
        transform:translateX(60px);
    }
    100%{
        transform:translateY(0);
    }
}
