.BotonPrincipal {
  background-color: #F47C1B;
  border-radius: 3px;
  border: 1px solid white;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.BotonPrincipal:hover,
.BotonPrincipal:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

.BotonPrincipal:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.BotonPrincipal:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}